body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

nav {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    /* background: rgba(150, 3, 247, 0.396); */
    padding: 10px 0px;
   
}
nav .navigation {
    display: flex;
    margin-right: 50px;
}

.nav-menu {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-menu a {
    color: #256eff;;
    text-decoration: none;
    font-size: 1em;
    padding: 10px 20px;
    transition: color 0.3s ease;
}

.container {
    display: flex;
    width: 80%;
    max-width: 900px;
    background-color: #fff;
    margin-top: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left, .right {
    padding: 40px;
    flex: 1;
}

.left {
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;    
    background-color: #256eff;
    color: #ffffff;
}

.left-content{
    margin-top: 120px;
}

.left-content h2 {
    margin-bottom: 20px;
    text-align: center;
}

.left-content p {
    margin-bottom: 20px;
    text-align: center;
}

.signin-link {
    padding: 20px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    text-align: center;
    background-color: rgba(32, 87, 250, 0.873);
}


.right h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
}

.right form {
    display: flex;
    flex-direction: column;
}

.icon-input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #ccc;
}

.fa-solid {
    margin-top: 20px;
    border: none;
    outline: none;
    color: #888;
    text-align: center;
    width: 40px;
    height: 38px;
}

input[type="text"], input[type="password"] {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 0 4px 4px 0;
    outline: none;
    background: none;
}

.signup-btn {
    background-color: #1e90ff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-btn:hover {
    background-color: #1c86ee;
}

.right p{
    display: flex;
    justify-content: center;
    align-items: center;
}

.right .social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


.social-icon{
    color: #fafafa;
}
.facebook, .google, .linkedin{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-right: 20px;
}

.facebook{
    background-color: #1f56fc;
}

.linkedin{
    background-color: #1694fb;
}

.google{
    background-color: #f53033;
}



